html { 
	font-size: 100%; }

body { 
	font-size: 1rem;
	background: #E6E6FF;
}

@media only screen and (min-width: 320px) {
	html { font-size: 100%; }
	body { font-size: 1.75rem; }
	h1 { font-size: 1.50rem; }
	h2 { font-size: 1.25rem; }
	h3 { font-size: 1rem; }
	h4 { font-size: .75rem; }

}

@media only screen and (min-width:800px) {
	html { font-size: 120%; }
	body { font-size: 2rem; }
	h1 { font-size: 1.75rem; }
	h2 { font-size: 1.50rem; }
	h3 { font-size: 1.25rem; }	
	h4 { font-size: 1rem; }

}

.contactInfo {
	font-family: Georgia, Serif;
	text-align: center;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

.jumbotron {
	background-image: url("../images/bridge.jpg");
	background-size: cover;
	color: white;
	text-align: center;
}

#introduction {
	text-align: center;
}

.project {
	padding: 10px 10px 10px 10px;
}

h4 {
	text-align: center;
}

div img {
	margin: auto;
	display: block;
	width: 70%;
}